.navbar {
    .navbar-brand {
        img {
            width: 100px;
        }
    }

    .menu {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        box-shadow: 1px 1px 6px 1px;
        height: 100vh;
        z-index: 100;

        .close-nav {
            position: absolute;
            left: 0;
            cursor: pointer;
            top: 0;
            padding: 6px;
            line-height: 10px;
            font-weight: 600;
        }

        .navbar-collapse {
            padding: 20px;
        }

        &.open {
            display: block;
        }
    }

}